nav {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 8px 0;
}

.link {
  padding: 8px 26px;
  border-radius: 4px;
  text-decoration: none;
  color: blanchedalmond;
  background-color: blue;
  font-weight: 500;
  font-size: 18px;
}

.active {
  composes: link;
  background-color: rgb(115, 221, 131);
  color: black;
}